@{
    ViewBag.Title = "About";
}
<h1 class="text-center text-capitalize text-primary">About Me</h1>
<hr />

<h3 class="text-capitalize text-primary">Education</h3>
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">

    <h3>Bachelors Degree in Computer Science: Minor in Human Development</h3>
    <div class="container">
        <p class="text-muted">Washington State University </p>
    </div>
    <p style="text-align:right"> August 2014 - May 2018</p>
    <hr />

    <h3>Art and Science Transfer Degree</h3>
    <div class="container">
        <p class="text-muted">Everett Community College</p>
    </div>
    <p style="text-align:right"> September 2012 - June 2014</p>
    <hr />

    <h3>Liscensed Massage Therapist (# MA 6048957)</h3>
    <div class="container">
        <p class="text-muted">Spectrum Center School of Massagae</p>
    </div>
    <p style="text-align:right"> September 2012 - June 2014</p>
    <hr />

    <h3>Highschool Diploma</h3>
    <div class="container">
        <p class="text-muted">Lake Stevens Highschool</p>
    </div>
    <p style="text-align:right">September 2012 - June 2014</p>

</div>
<br />

<hr />
<h3 class="text-capitalize text-primary">Work Experience</h3>
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">

    <p class="pull-right">March 2019 - Present</p>
    <h3>Saute Cook</h3> 
    <div class="container">
        <p class="text-muted">The Ram Restaurant and Brewhouse</p>
    </div>
    <hr />

    <p class="pull-right">Summer 2018</p>
    <h3>Project Manager for home Remodels</h3> 
    <div class="container">
        <p class="text-muted">Family - Summer 2018</p>
    </div>
    <hr />

    <p class="pull-right">Sept. 2017 - May 2019</p>
    <h3>Team Lead and Package Developer</h3>
    <div class="container">
        <p class="text-muted">&bull; Communicate directly with steakholders</p>
        <p class="text-muted">&bull; Organizeed team meetings and tasks</p>
        <p class="text-muted">&bull; Identified steakholders needs and3 created a plan for sucessfull competion of tasks</p>
        <p class="text-muted">&bull; Used Various tools / langages, includeing php, HTML, and mySQl</p>
    </div>

</div>
<br />

<hr />
<h3 class="text-capitalize text-primary">Technical Skills</h3>
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <div class="container">
        <h3 class="text-center">I bet you can't guess what im still working on :)</h3>
    </div>
</div>
<br />

<hr />
<h3 class="text-capitalize text-primary">Hobbies</h3>
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <div class="container">
        <h3 class="text-center">I bet you can't guess what im still working on :)</h3>
    </div>
</div>
<br />

<hr />
<h3 class="text-capitalize text-primary">Just For Fun</h3>
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <div class="container">
        <h3 class="text-center">I bet you can't guess what im still working on :)</h3>
    </div>
</div>
<br />
