@{
    ViewBag.Title = "About";
}
<h1 class="text-center text-capitalize text-primary">About Me</h1>
<hr />

<h3 class="text-capitalize text-primary">Education</h3>
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">

    <p class="lead" style="font-family:'Segoe UI Semibold'">Bachelors Degree in Computer Science: Minor in Human Development</p>
    <p class="pull-right"> August 2014 - May 2018</p>
    <div class="container">
        <p class="text-muted">Washington State University </p>
    </div>

    <hr />

    <p class="lead" style="font-family:'Segoe UI Semibold'">Art and Science Transfer Degree</p>
    <p class="pull-right"> September 2012 - June 2014</p>
    <div class="container">
        <p class="text-muted">Everett Community College</p>
    </div>

    <hr />

    <p class="lead" style="font-family:'Segoe UI Semibold'">Liscensed Massage Therapist (# MA 6048957)</p>
    <p class="pull-right"> September 2012 - June 2014</p>
    <div class="container">
        <p class="text-muted">Spectrum Center School of Massagae</p>
    </div>

    <hr />

    <p class="lead" style="font-family:'Segoe UI Semibold'">Highschool Diploma</p>
    <p class="pull-right">September 2012 - June 2014</p>
    <div class="container">
        <p class="text-muted">Lake Stevens Highschool</p>
    </div>

</div>
<br />

<hr />
<h3 class="text-capitalize text-primary">Work Experience</h3>
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <p class="pull-right">March 2019 - Present</p>
    <p class="lead" style="font-family:'Segoe UI Semibold'">Saute Cook</p> <p>The Ram Restaurant and Brewhouse</p>

    <hr />

    <p class="pull-right">Summer 2018</p>
    <p class="lead" style="font-family:'Segoe UI Semibold'">Project Manager for home Remodels</p> <p>Family - Summer 2018</p>

    <hr />

    <p class="pull-right">September 2017 - May 2019</p>
    <h2 class="lead" style=" font-family:'Segoe UI Semibold'">Team Lead and Package Developer</h2>
    <div class="container">
        <p class="text-muted">&bull; Communicate directly with steakholders</p>
        <p class="text-muted">&bull; Organizeed team meetings and tasks</p>
        <p class="text-muted">&bull; Identified steakholders needs and3 created a plan for sucessfull competion of tasks</p>
        <p class="text-muted">&bull; Used Various tools / langages, includeing php, HTML, and mySQl</p>
    </div>

</div>
<br />

<hr />
<h3 class="text-capitalize text-primary">Technical Skills</h3>
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <div class="container">
        <h3 class="text-center">I bet you can't guess what im still working on :)</h3>
    </div>
</div>
<br />

<hr />
<h3 class="text-capitalize text-primary">Hobbies</h3>
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <div class="container">
        <h3 class="text-center">I bet you can't guess what im still working on :)</h3>
    </div>
</div>
<br />

<hr />
<h3 class="text-capitalize text-primary">Just For Fun</h3>
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <div class="container">
        <h3 class="text-center">I bet you can't guess what im still working on :)</h3>
    </div>
</div>
<br />
