@{
    ViewBag.Title = "Contact";
}
<h1 class="text-center text-capitalize text-primary">Want to Send Me a Note</h1>
<hr />

<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <div class="container">
        <h3 class="text-center">I bet you can't guess what im still working on :)</h3>
    </div>
</div>



@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@