@{
    ViewBag.Title = "Home";
}
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <div class="row">
        <div class="col-md-4">
            <img src="~/William1.jpg" alt="A handsom looking man in an orange jacket in front of an Irish Pub" style="align-content:center; width:200px; height:auto; border-radius:50%; border:1px; box-shadow:3px 7px 10px #888888;" />

        </div>
        <div class="col-md-8">
            <h1 style="text-align:center; font-family:Calibri;">William Boston</h1>

            <div class="row">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4 text-center">
                    <a class="btn btn-group" href="https://www.linkedin.com/in/william-boston/"><img src="~/In-2C-128px-R.png" style="align-content:center; width:30px; height:auto; box-shadow:2px 3px 10px #888888; border-radius:10%; " alt="Facebook Logo, link to William's Linked-in page" /></a>
                    <a class="btn btn-group" href="https://github.com/wboston"><img src="~/GitHub-Mark-120px-plus.png" style="align-content:center; width:30px; height:auto; box-shadow:2px 3px 10px #888888; border-radius:50%;" alt="Facebook Logo, link to William's Git-Hub page" /></a>
                    <a class="btn btn-group" href="https://www.facebook.com/william.boston.130"> <img src="~/flogo_RGB_HEX-144.png" style="align-content:center; width:30px; height:auto; box-shadow:2px 3px 10px #888888; border-radius:7%;" alt="Facebook Logo, link to William's facebook page" /></a>
                </div>
                <div class="col-sm-4">

                </div>
            </div>
            @*<p><a href="/Home/Contact" style="float:right" class="btn btn-primary btn-lg">Contact Me &raquo;</a></p>*@



        </div>

    </div>
    <hr />
    @*<p class="lead" style="font-family:'Segoe UI Semibold'">
            Self-motivated recent graduate eager to build upon strong computer science academic foundation. Possesses an in-depth understanding of multiple programming languages,
            including C / C++, C# and Python. Recognized for the ability to complete complex IT projects on-time to meet client specifications. In-depth understanding of the the impact
            of technology on day to day living. Completed extensive upper level coursework in the areas of: software design, programming language design, software engineering and systems engineering.
        </p>*@

    <p style="font-family:Consolas;">
        Hello World! My name is William
    </p>
    <p class="lead">
        I love learning new things and take pride in everything I set my mind to.  While graduating from high school, I attained my associate’s degree through the Running Start program at my local Community College. Along with high school and Community College, I also studied an additional 700 hours to become a Licensed Massage Therapist (# MA 6048957).
    </p>
    <p class="lead">
        After that, I had some really big questions for myself. What did I want to do, because I was unsure I considered a few options. I was passionate about the well being of others but also felt naturally curious about computers and programming. I was accepted into Washington State University where I received my Bachelors of Arts Degree in Computer Science and a minor in Human Development. Through my experiences at Washington State University my passion learning has turned into a passion for teaching and my dream is to one day teach maybe high school/college level programming.
    </p>
    <p class="lead">
        Since graduating, I have moved back to my home town and am currently working as the closing Sauté Cook at a local restaurant. I’ve learned the benefit of communication and have adapted to the high intensity work that is so commonly found in a kitchen environment.
    </p>

    <p><a href="/Home/About" style="float:right;" class="btn btn-primary btn-lg">Find out More &raquo;</a></p>
    <br />

</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">About</h2>
        <p class="text-danger text-warning">ToDo</p>
        <p><a class="btn btn-default" href=" /Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Projects</h2>
        <p class="text-danger text-warning">ToDo</p>
        <p><a class="btn btn-default" href=" Home/Projects">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center">Contact</h2>
        <p class="text-danger text-warning">ToDo</p>
        <p><a class="btn btn-default" href=" /Home/Contact">Learn more &raquo;</a></p>
    </div>
    <hr />
</div>