@{
    ViewBag.Title = "Home";
}
<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <div class="row">
        <div class="col-md-4">
            <img src="~/William1.jpg" alt="A handsom looking man in an orange jacket in front of an Irish Pub" style="align-content:center; float:initial; width:200px; height:inherit; border-radius:50%; border:1px; box-shadow:3px 7px 10px #888888;" />

        </div>
        <div class="col-md-8">
            
            <h1 style="text-align:left; font-family:Calibri;">William Boston</h1>
            
            @*<p><a href="/Home/Contact" style="float:right" class="btn btn-primary btn-lg">Contact Me &raquo;</a></p>*@




        </div>

    </div>
    <hr />
    @*<p class="lead" style="font-family:'Segoe UI Semibold'">
            Self-motivated recent graduate eager to build upon strong computer science academic foundation. Possesses an in-depth understanding of multiple programming languages,
            including C / C++, C# and Python. Recognized for the ability to complete complex IT projects on-time to meet client specifications. In-depth understanding of the the impact
            of technology on day to day living. Completed extensive upper level coursework in the areas of: software design, programming language design, software engineering and systems engineering.
        </p>*@

    <p class="lead">
        Hi I’m William, I love learning new things and take pride in everything I set my mind to. Along with graduating from Highschool, I attained my associate’s degree through the running start program at my local community College. Along with Highschool and Community College, I also studied an additional 700 hours to become a licensed massage therapist (# MA 6048957).
    </p>
    <p class="lead">
        After that, I had some really big questions for myself. What did I want to do, Because I was unsure I considered a few options. I was passionate about the wellbeing of others but also felt naturally curious about computers and programming. I was accepted into Washington State University where I received my Bachelors of Arts Degree in Computer Science but also received a minor in Human Development. Through my experiences at Washington State Univesity my passion learning has turned into a passion for teaching and my dream is to one day teach maybe highschool/college level programming.
    </p>
    <p class="lead">
        Since graduating in May, 2018 I have moved back to home home town and am currently working as the closing saute Cook at a local restaurant. I’ve learned the benefit of communication and have adapted to the high intensity work that is so commonly found in a kitchen environment.

    </p>

    <p><a href="/Home/About" style="float:right;" class="btn btn-primary btn-lg">Find out More &raquo;</a></p>
    <br />
    <p style="font-family:'Calibri';">
        Hello World!
    </p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learn More: About</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href=" /Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See More: Projects</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href=" Home/Projects">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Be More: Contact</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href=" /Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>