@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img src="~/William1.jpg" alt="" style="align-content:center; width:200px;height:inherit; border-radius:48%; box-shadow:2px 3px #b3b3b3; float:left;" />
        </div>
        <div class="col-md-8">
            <br />
            <h1 style="float:left;">William Boston</h1>
        </div>
        
    </div>
    <br />
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo faucibus erat at rhoncus. Maecenas a justo id elit scelerisque suscipit sed vitae nunc. Vestibulum sed turpis suscipit, consequat tortor quis, tristique lectus. Curabitur sodales facilisis libero, quis efficitur ex tincidunt sed. Sed ultrices magna eget commodo tempor. Aenean urna sapien, luctus eu sodales id, aliquet a diam. Nam vel consequat ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras posuere eget velit ut ultrices. Vestibulum nec vulputate dui. Donec a fermentum augue. Sed eget posuere neque. In hac habitasse platea dictumst. Morbi euismod purus ex, nec eleifend leo pharetra ut. Duis nec nisl mi.
        Nullam et ornare sem. Sed sagittis at ante eu aliquet. Cras pharetra, lacus a posuere maximus, metus est congue tellus, nec facilisis sem nisl sit amet ante. Proin a suscipit mauris. Aenean maximus diam at augue blandit, vel pretium elit lobortis. Nam ultrices diam ut tellus porttitor, vel vulputate mi congue. Donec condimentum erat at nulla bibendum, vitae accumsan ipsum cursus. Proin blandit urna elit, a gravida risus mollis quis.
        Nulla ut faucibus odio. Aenean ullamcorper scelerisque nibh quis ultrices. Sed et lobortis quam, sit amet iaculis tellus. Vestibulum ut hendrerit lectus, vitae porta quam. Curabitur semper nec nulla sit amet egestas. Etiam eu maximus risus, sed tempus dolor. Nulla quis lectus sed risus egestas placerat ultrices at orci.
        Vestibulum consequat elit eu velit egestas maximus. Donec imperdiet sem sit amet lectus consequat, ut volutpat turpis varius. Cras ac ultricies mi. Vestibulum eget feugiat magna. Phasellus porttitor, quam vitae mattis feugiat, tortor mi imperdiet erat, vel suscipit justo diam sed justo. Vivamus non varius quam. Proin vel feugiat mi, in cursus nisl. Praesent ex est, congue et porta in, maximus et felis. In sit amet finibus velit, vel viverra nunc. Aliquam scelerisque bibendum eleifend.
        Fusce vitae interdum velit. Sed sit amet ornare est. Quisque auctor mauris in aliquam pellentesque. Proin ipsum arcu, semper consectetur consectetur vitae, venenatis quis enim. Aenean eget rhoncus dolor, ut eleifend erat. Integer non nunc sit amet velit tincidunt posuere in vel nibh. Cras tincidunt neque vitae orci semper porttitor. Proin suscipit, est vitae dignissim hendrerit, dui eros pellentesque lacus, vel bibendum nibh arcu nec orci. Ut justo dui, sagittis quis fringilla quis, ultricies sit amet arcu. Morbi rutrum at sapien malesuada vestibulum. Sed quis sapien sem. Donec laoreet lacinia justo, porta consectetur ante efficitur id. Donec eu est massa. 5
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>