@{
    ViewBag.Title = "Projects";
}
<h1 class="text-center text-capitalize text-primary">Projects</h1>
<hr />

<h3 class="text-center">@ViewBag.Message</h3>


<div class="jumbotron" style="border:1px; box-shadow:3px 7px 10px #888888;">
    <div class="container">
        <h3 class="text-center">I bet you can't guess what im still working on :)</h3>
    </div>
</div>